/* css */
ul {
  list-style: none;
  padding: 0;
}
.testClass {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #DDDDDD;
}

.cancelBtn{
  color: red;
  background-color: red;
}

span{
  display: inline-block;
  margin-left: auto;
      background-color: #4285f4;
      border-radius: 10px;
      border: 4px double #cccccc;
      color: #eeeeee;
      text-align: center;
      font-size: 70%;
      padding: 20px;
      width: 100px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
}
